@import './tmd-main';
@import './scrollbar';
@import './table';
@import './fonts';

.title_block{
	height: 50px;
    line-height: 50px;
    margin: 0px;
    background: #0B1F47;
    color: white;
    text-align: left!important;
    padding-left: 20px;
}

html,body{
	background: url(https://source.unsplash.com/WLUHO9A_xik/1600x900);
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
	border:5px solid black;
}