
$primary-color: mediumslateblue;

$color1: #314A5E;
$color2: #3D986F;
$color3: #0A45B1; /*#0A45B1; dark blue formal /*blue #3270C0*/
$color4: #FC5D60; /*red*/
$color5: #212431; /*black*/
$color6: white;

